<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
    <linkrel="stylesheet"href="https:
    //cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />

  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/style.css"> <!-- Resource style -->
  <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/demo.css"> <!-- Demo style -->

</head>
<style>
  .text-white {
    color: white;
  }
</style>

<body style="background-color: black">
  <header class="cd-main-header">
    <div class="cd-main-header__logo">
      <a href="#0"><img src="http://127.0.0.1:5000/static/img/cd-logo.svg" alt="Logo" /></a>
    </div>

    <nav class="cd-main-nav js-main-nav">
      <ul class="cd-main-nav__list js-signin-modal-trigger">
        <li>
          <a class="cd-main-nav__item cd-main-nav__item--signin class" href="#0" data-signin="login">My BOOK Recommender</a>
        </li>
        <li class="class2">Connecting the RIGHT Records with the RIGHT Book</li>
        <li>
          <a class="cd-main-nav__item cd-main-nav__item--signup" href="/index" data-signin="signup">Home</a>
        </li>
        <li>
          <a class="cd-main-nav__item cd-main-nav__item--signup" href="/recommend" data-signin="signup">Recommend</a>
        </li>
        <li>
          <a class="cd-main-nav__item cd-main-nav__item--signup" href="#0" data-signin="signup">Contact</a>
        </li>
        
      </ul>
    </nav>
  </header>

  <!-- <nav class="navbar" style="background-color: #00a65a">
    <a class="navbar-brand">My Book recommender</a>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/recommend">Recommend</a></li>
      <li><a>Contact</a></li>
    </ul>
  </nav> -->


  <div class="container">
    <div class="row">
      <div class="cd-intro">
        <div class="col-md-12">
          <h1 class="text-white" style="font-size: 50px; color:wheat ;" >Top 50 Books</h1>
        </div>
      </div>
     
      {% for i in range(book_name|length) %}
      
      <div class="col-lg-6 cl-md-6 cl-sm-6" style="margin-top: 40px">
        <div class="card">
        
          <div class="card-body" style="display: flexbox;" >
            <img class="card-img-top" src="{{ image[i] }}" />
            <p class="text-white">{{ book_name[i] }}</p>
            <h4 class="text-white">{{ author[i] }}</h4>
            <h4 class="text-white">Votes - {{ votes[i] }}</h4>
            <h4 class="text-white">Rating - {{ rating[i] }}</h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>